---
title: >
        Risarcimento Integrale

description: >
        Da inserire

testata:
    prima_riga: Hai subito un incidente stradale?
    hasButton: 0
    seconda_riga: >

            Ottieni il massimo del risarcimento!

immagineTestata: https://risarcimentionline.cdn.prismic.io/risarcimentionline/0d6ea92a9bfe780a24b6354d6bfe19b439d64898_incidente-01.jpg

headCode: >


conversionCode: >

---

<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>

<div class="spazio_bianco"></div>

<%= partial "partials/incidente-stradale" %>

<div class="spazio_bianco"></div>

<%= partial "partials/chi-siamo" %>

<div class="spazio_bianco"></div>

<%= partial "partials/domande" %>

<div class="spazio_bianco"></div>

<%= partial "partials/rowCallToAction" %>
