---
title: >
        Risarcimenti Online

description: >
        Da inserire

testata:
    prima_riga: Risarcimento Danni?
    hasButton: 0
    seconda_riga: >

            Incidente Stradeale, Malasanità, Infortunio su Lavoro?

immagineTestata: https://prismic-io.s3.amazonaws.com/risarcimentionline/156fd2d19dca363a9ff63b4e17f07e0befc2077a_ambulanza.jpg

headCode: >

conversionCode: >

---




<div class="row banner show-for-medium">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Ottieni il massimo risarcimento possibile!</span>
            </a>
        </div>
</div>


<div class="row banner-small show-for-small-only">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Ottieni il massimo risarcimento possibile!</span>
            </a>
        </div>
</div>

<%= partial "partials/rowCallToAction" %>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns callout">

        <div class="row">
            <div class="small-12 columns">
                <h2 class="evidence"><i class="fa fa-eur" aria-hidden="true"></i> Risarcimento per Errore Medico</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-5 columns">
                <img src="https://prismic-io.s3.amazonaws.com/optometrista/7a8661fe5c52e3e10dc9fc5589eb19e8c1d2b236_occhi-stanchi-pc-7.jpg">
            </div>
            <div class="small-12 medium-7 columns">
                <h4 class="subheader">Ritieni di aver diritto ad un giusto Risarcimento?</h4>
                <p>
                    Possiamo assiterti di aiuto <strong>gratuitamente e senza alcun anticipo</strong> in tutta Italia!
                </p>
                <h4 class="subheader">Quali sono i casi più comuni di Malasanità?</h4>
                <p>
                    I danni più comuni alle persone sono causati da diversi errori o inadempienza da perte del personale sanitario. Di seguito alcuni esempi:
                    <ul>
                        <li>
                            Diagnosi errate
                        </li>
                        <li>
                            Interventi chirigici effettuati in maniera errata
                        </li>
                        <li>
                            Infezioni prse in ospedale
                        </li>
                        <li>
                            Errori in sala parto con gravi danni per il neonato o la madre
                        </li>
                        <li>
                            Carenza di consenso informato
                        </li>
                    </ul>
                </p>
                <h4 class="subheader">Cosa possiamo fare per te?</h4>
                <p>
                    Un team di medici specialistici e avvocati che da anni operano nel settore della malasanità sapranno ascoltarti e consigliarti nella gestione del tuo caso.

                    <ul>
                        <li>
                            Presa in <strong>esame della documentazione</strong> clinica
                        </li>
                        <li>
                            Se il caso sussiste, verrà sottoposto alla nostra <strong>commissione medica</strong>
                        </li>
                        <li>
                            In caso il parere favorevole ci attiveremo per <strong>ottenere il risarcimento</strong>
                        </li>
                        <li>
                            Tutto <strong>senza alun costo o anticipo</strong> da parte tua!
                        </li>
                    </ul>

                </p>

            </div>
        </div>

        <div class="row banner show-for-medium">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Malasanità!</span><br>
                        <span class="subSconto"><i>Fino a 10 anni dall'intervento o dalla diagnosi</i></span>

                    </a>
                </div>
        </div>


        <div class="row banner-small show-for-small-only">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Malasanità!</span>
                    </a>
                </div>
        </div>

        <%= partial "partials/rowCallToAction" %>
    </div>
</div>


<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns callout">

        <div class="row">
            <div class="small-12 columns">
                <h2 class="evidence"><i class="fa fa-eur" aria-hidden="true"></i> Risarcimento per Incidente Stradale</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-7 columns">
                <h4 class="subheader">Sei stato coinvolto in un grave incidente Stradale?</h4>
                <p>
                    Possiamo assiterti di aiuto <strong>gratuitamente e senza alcun anticipo</strong> in tutta Italia!
                </p>
                <h4 class="subheader">Quali sono i danni risarcibili per incidente stradale?</h4>
                <p>
                    <ul>
                        <li>
                            Danni al veicolo o ad alrti beni danneggiati
                        </li>
                        <li>
                            Danni derivanti dai mancati guardagni a fronte dell'infortunio
                        </li>
                        <li>
                            Danni per lesioni fisiche o psicologiche (danno biologico) permanenti
                        </li>
                        <li>
                            Danni moarali temporanei
                        </li>
                    </ul>
                </p>
                <h4 class="subheader">Cosa possiamo fare per te?</h4>
                <p>
                    Un team di medici specialistici e avvocati che da anni operano nel settore della richiesta di risarcimenti sapranno ascoltarti e consigliarti nella gestione del tuo caso.

                    <ul>
                        <li>
                            Presa in <strong>esame della documentazione</strong> in tuo possesso
                        </li>
                        <li>
                            Se il caso sussiste, verranno sentiti pareri di periti o medici se necessario.
                        </li>
                        <li>
                            Una volta effettuata la valutazione procederemo con la richiesta danni.
                        </li>
                        <li>
                            Tutto <strong>senza alun costo o anticipo</strong> da parte tua!
                        </li>
                    </ul>

                </p>

            </div>
            <div class="small-12 medium-5 columns">
                <img src="https://prismic-io.s3.amazonaws.com/optometrista/7a8661fe5c52e3e10dc9fc5589eb19e8c1d2b236_occhi-stanchi-pc-7.jpg">
            </div>
        </div>

        <div class="row banner show-for-medium">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Incidente Stradale!</span>
                    </a>
                </div>
        </div>


        <div class="row banner-small show-for-small-only">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Incidente Stradale!</span>
                    </a>
                </div>
        </div>

        <%= partial "partials/rowCallToAction" %>
    </div>
</div>


<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns callout">

        <div class="row">
            <div class="small-12 columns">
                <h2 class="evidence"><i class="fa fa-eur" aria-hidden="true"></i> Risarcimento per Infortunio sul Lavoro</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-5 columns">
                <img src="https://prismic-io.s3.amazonaws.com/optometrista/7a8661fe5c52e3e10dc9fc5589eb19e8c1d2b236_occhi-stanchi-pc-7.jpg">
            </div>
            <div class="small-12 medium-7 columns">
                <h4 class="subheader">Hai subito un infortunio sul lavoro?</h4>
                <p>
                    Oltre all'indennizo da parte dell’Istituto Nazionale Assicurazioni Infortunio sul Lavoro (INAIL) hai diritto anche ad un <strong>risarcimento supplementare</strong>.
                    <br>Possiamo assiterti di aiuto <strong>gratuitamente e senza alcun anticipo</strong> in tutta Italia!
                </p>
                <h4 class="subheader">In cosa consiste il risarcimento supplementare?</h4>
                <p>
                    Si tratta di risarcimenti richiesti direttamente al datore di lavoro e alla sua assicurazione:
                    <ul>
                        <li>
                            Integrazione dell’Indennità Temporanea prevista dai contratti nazionali.
                        </li>
                        <li>
                            Risarcimento per danno patrimoniale non coperto dall'INAIL
                        </li>
                        <li>
                            Risarcimento per danno biologico non coperto dall'INAIL
                        </li>
                        <li>
                            Risarcimento per danno morale
                        </li>
                    </ul>
                </p>
                <h4 class="subheader">Cosa possiamo fare per te?</h4>
                <p>
                    Un team di medici specialistici e avvocati che da anni operano nel settore della richiesta di risarcimenti sapranno ascoltarti e consigliarti nella gestione del tuo caso.

                    <ul>
                        <li>
                            Presa in <strong>esame della documentazione</strong> in tuo possesso
                        </li>
                        <li>
                            Se il caso sussiste, verranno sentiti pareri di periti o medici se necessario.
                        </li>
                        <li>
                            Una volta effettuata la valutazione procederemo con la richiesta danni.
                        </li>
                        <li>
                            Tutto <strong>senza alun costo o anticipo</strong> da parte tua!
                        </li>
                    </ul>

                </p>

            </div>
        </div>

        <div class="row banner show-for-medium">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Infortunio sul Lavoro!</span>
                    </a>
                </div>
        </div>


        <div class="row banner-small show-for-small-only">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Infortunio sul Lavoro!</span>
                    </a>
                </div>
        </div>

        <%= partial "partials/rowCallToAction" %>
    </div>
</div>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns callout">

        <div class="row">
            <div class="small-12 columns">
                <h2 class="evidence"><i class="fa fa-question" aria-hidden="true"></i> Le risposte alle tue domande:</h2>
            </div>
        </div>
        <div class="row small-up-1 medium-up-2 large-up-2">
            <div class="column">
                <h4 class="subheader">Quanto costa il vostro servizio?</h4>
                <p>
                    <strong>Nulla!</strong> Lavoriamo per l'ottenimento del tuo risarcimento e verremo pagati dalle assicurazioni solo se otterremo il risultato.
                </p>
            </div>
            <div class="column">
                <h4 class="subheader">Devo anticipare dei costi per la pratica?</h4>
                <p>
                    <strong>No.</strong> Eventuali spese per la pratica verranno anticipate dallo studio e risarcite al momento dell'ottenimento del risarcimento.
                    Non ti verrnno mai chiesti soldi.
                </p>
            </div>
            <div class="column">
                <h4 class="subheader">Come venite pagati?</h4>
                <p>
                    <strong>All'ottenimento del risarcimento</strong> da parte delle compagnie assicurative e con una percentuale sul risarcimento ottenuto.
                </p>
            </div>
            <div class="column">
                <h4 class="subheader">Posso fidarmi di voi?</h4>
                <p>
                    Vantiamo 20 anni di esperienza nel settore e innumerevoli casi di successo.
                    A garanzia della nostra affidabilità avete la <strong>totale gratuità</strong> del nostro servizio!
                </p>
            </div>
            <div class="column">
                <h4 class="subheader">Quanto tempo ci vuole per arrivare ad un risarcimento?</h4>
                <p>
                    <ul>
                        <li>
                            Per sinistri stradali di lieve entità: 3 mesi
                        </li>
                        <li>
                            Per sinistri stradali di grande entità, 1 anno (termine che dipende dal tempo necessario alla stabilizzazione dei postumi)
                        </li>
                        <li>
                            Per pratiche di responsabilità sanitaria, 2-3 anni
                        </li>
                    </ul>
                </p>
            </div>

            <div class="column">
                <h4 class="subheader">Quali sono i tempi massimi per incominciare le pratiche?</h4>
                <p>
                    Una settimana, per i sinistri stradali, un mese per le responsabilità mediche, dov’è imprescindibile avere un preventivo parere di un medico legale!
                </p>
            </div>
        </div>

    </div>
</div>

<div class="spazio_bianco"></div>

<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>


<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns callout">

        <div class="row">
            <div class="small-12 columns">
                <h2 class="evidence">Chi siamo!</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-5 columns">
                <img src="https://prismic-io.s3.amazonaws.com/optometrista/7a8661fe5c52e3e10dc9fc5589eb19e8c1d2b236_occhi-stanchi-pc-7.jpg">
            </div>
            <div class="small-12 medium-7 columns">
                <h4 class="subheader">LML Associati</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor, erat in malesuada venenatis, arcu lectus accumsan nisl, et tempus ligula tellus ac leo. Suspendisse interdum faucibus viverra. Vivamus non risus quis eros ultrices imperdiet efficitur ac lorem. In non lobortis est, non finibus enim.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor, erat in malesuada venenatis, arcu lectus accumsan nisl, et tempus ligula tellus ac leo. Suspendisse interdum faucibus viverra. Vivamus non risus quis eros ultrices imperdiet efficitur ac lorem. In non lobortis est, non finibus enim.
                </p>
                <h4 class="subheader">Perchè sceglire noi?</h4>
                <p>
                    <ul>
                        <li>
                            Più di <strong>20 anni di esperienza</strong> nel settore del risarcimento danni
                        </li>
                        <li>
                            Siamo sempre <strong>reperibili</strong> e a disposizione per eventuali richieste da parte dei clienti
                        </li>
                        <li>
                            <strong>Aggiorniamo costantemente</strong> il cliente circa lo stato della pratica
                        </li>
                        <li>
                            Le nostre valutazioni sono sempre <strong>gratuite</strong>
                        </li>
                        <li>
                            <strong>Anticipiamo</strong> noi tutte le spese per la pratica
                        </li>
                    </ul>
                </p>

            </div>
        </div>

        <div class="row banner show-for-medium">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il massimo risarcimento possibile!</span>
                    </a>
                </div>
        </div>


        <div class="row banner-small show-for-small-only">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il massimo risarcimento possibile!</span>
                    </a>
                </div>
        </div>

        <%= partial "partials/rowCallToAction" %>
    </div>
</div>
