---
title: >
        Risarcimento Integrale

description: >
        Da inserire

testata:
    prima_riga: Risarcimento Integrale
    hasButton: 0
    seconda_riga: >

            Ottieni il Massimo del Risarcimento!

immagineTestata: https://prismic-io.s3.amazonaws.com/risarcimentionline/ee1e137658e65d956c7d6da03d49f54f55aa95fb_head-01.jpg

headCode: >


conversionCode: >


    <!-- BEGIN JIVOSITE CODE -->
    <!-- <script type='text/javascript'>

        (function(){ var widget_id = 'f1vCB5U9S6';var d=document;var w=window;function l(){
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script> -->
    <!-- END JIVOSITE CODE -->

---

<div class="row banner">
        <div class="small-12 medium-4 columns">
                <a class="hollow button large expanded" href="#malasanita"><i class="fa fa-stethoscope" aria-hidden="true"></i> Malasanità</a>
                <!-- <span class="sconto">Ottieni il risarcimento per Infortunio sul Lavoro!</span> -->
        </div>
        <div class="small-12 medium-4 columns">
                <a class="hollow button large expanded" href="#incidente"><i class="fa fa-car" aria-hidden="true"></i> Incidente Stradale</a>
                <!-- <span class="sconto">Ottieni il risarcimento per Infortunio sul Lavoro!</span> -->
        </div>
        <div class="small-12 medium-4 columns">
                <a class="hollow button large expanded" href="#lavoro"><i class="fa fa-wrench" aria-hidden="true"></i> Infortunio sul Lavoro</a>
                <!-- <span class="sconto">Ottieni il risarcimento per Infortunio sul Lavoro!</span> -->
        </div>
</div>


<div class="row banner-small show-for-small-only">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Ottieni il Massimo del Risarcimento!</span>
            </a>
        </div>
</div>

<%= partial "partials/rowCallToAction" %>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns callout">

        <div class="row" id="malasanita">
            <div class="small-12 columns">
                <h2 class="evidence"><i class="fa fa-stethoscope" aria-hidden="true"></i> Malasanità</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-5 columns">
                <img src="https://prismic-io.s3.amazonaws.com/risarcimentionline/9b2a2cbd1918000023a31033f4516c63b0661ff8_sanita-01.jpg">
            </div>
            <div class="small-12 medium-7 columns">
                <h4 class="subheader">Siete stati vittime di un errore medico?</h4>
                <p>
                    Ti aiutiamo <strong>senza alcun anticipo</strong>, ad ottenere il massimo risarcimento possibile dal vostro caso di malasanità.
                </p>
                <h4 class="subheader">Quali sono i casi risarcibili?</h4>
                <p>
                    I danni che con maggior frequenza si verificano in ambito ospedaliero sono causati da errori od omissioni addebitabili agli operatori ed alle strutture sanitarie. Ecco la casistica più diffusa:
                    <ul>
                        <li>
                            omesse o errate diagnosi
                        </li>
                        <li>
                            interventi chirurgici mal eseguiti
                        </li>
                        <li>
                            infezioni contratte in ospedale
                        </li>
                        <li>
                            cadute attribuibili ad omessa vigilanza
                        </li>
                        <li>
                            errori in sala parto con ripercussioni sul neonato o sulla madre
                        </li>
                        <li>
                            errate indagini prenatali
                        </li>
                        <li>
                            mancanze nell’adempimento degli obblighi sul consenso informato
                        </li>
                        <li>
                            contagio da emotrasfusione
                        </li>
                    </ul>
                </p>
                <h4 class="subheader">Cosa facciamo per te?</h4>
                <p>
                    Rivolgendoti al nostro team di medici ed avvocati specializzati da anni nel settore del risarcimento danni da <i>medical malpractice</i>, otterrai:

                    <ul>
                        <li>
                            esame della pratica sotto il profilo giuridico
                        </li>
                        <li>
                            valutazione del caso da parte dei nostri esperti medici legali
                        </li>
                        <li>
                            avvio della pratica di richiesta del risarcimento
                        </li>
                    </ul>

                    Queste attività di consulenza, indispensabili per l’avvio della pratica, saranno <strong>interamente pagate da noi</strong>, senza chiederti alcun anticipo

                </p>

            </div>
        </div>

        <div class="row banner show-for-medium">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Malasanità!</span><br>
                        <span class="subSconto"><i>Fino a 10 anni dall'intervento o dalla diagnosi</i></span>

                    </a>
                </div>
        </div>


        <div class="row banner-small show-for-small-only">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Malasanità!</span>
                    </a>
                </div>
        </div>

        <%= partial "partials/rowCallToAction" %>
    </div>
</div>


<div class="spazio_bianco"></div>

<%= partial "partials/incidente-stradale" %>


<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns callout">

        <div class="row" id="lavoro">
            <div class="small-12 columns">
                <h2 class="evidence"><i class="fa fa-wrench" aria-hidden="true"></i> Infortunio sul Lavoro o Malattia Professionale</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-5 columns">
                <img src="https://prismic-io.s3.amazonaws.com/risarcimentionline/d97b9f382c5cfa0b099c8f6648ba1e6a0e0f4d9b_lavoro.jpg">
            </div>
            <div class="small-12 medium-7 columns">
                <h4 class="subheader">Hai subito un infortunio sul lavoro o sviluppato una patologia professionale?</h4>
                <p>
                    Oltre all'indennizzo da parte di INAIL e INPS hai diritto anche ad un risarcimento ulteriore, denominato <i>danno differenziale</i>.<br>
                    Può consistere in:

                    <ul>
                        <li>
                            un risarcimento per il danno patrimoniale, non indennizzato dagli istituti previdenziali
                        </li>
                        <li>
                            un risarcimento per danno biologico, permanente e temporaneo, non indennizzato dagli istituti previdenziali
                        </li>
                        <li>
                            un risarcimento dei danni non patrimoniali (danni morali)
                        </li>
                    </ul>
                </p>
                <h4 class="subheader">Che cos'è il <i>danno differenziale</i>?</h4>
                <p>
                    È un risarcimento che puoi richiedere al datore di lavoro ed alla sua assicurazione nel caso in cui ne sia accertata la responsabilità nella determinazione dell’infortunio o della malattia professionale, e consiste in:
                    <ul>
                        <li>
                            un’integrazione dell’<i>Indennità Temporanea</i> prevista dai contratti collettivi
                        </li>
                        <li>
                            un risarcimento per il danno patrimoniale, non indennizzato dagli istituti previdenziali
                        </li>
                        <li>
                            un risarcimento per danno biologico, permanente e temporaneo, non indennizzato dagli istituti previdenziali
                        </li>
                        <li>
                            un risarcimento dei danni non patrimoniali (danni morali)
                        </li>
                    </ul>
                </p>
                <h4 class="subheader">Cosa facciamo per te?</h4>
                <p>
                    Rivolgendoti al nostro team di medici e avvocati specializzati da anni nel settore degli infortuni sul lavoro e delle malattie professionali:

                    <ul>
                        <li>
                            valutazione del tuo caso di infortunio o malattia professionale
                        </li>
                        <li>
                            perizia da parte di medici specialisti
                        </li>
                        <li>
                            avvio della pratica di richiesta danni
                        </li>
                    </ul>

                    Queste attività di consulenzae, indispensabili per l’avvio della pratica, saranno <strong>interamente pagate da noi</strong>, senza chiederti alcun anticipo

                </p>

            </div>
        </div>

        <div class="row banner show-for-medium">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Infortunio o Malattia Professionale!</span>
                    </a>
                </div>
        </div>


        <div class="row banner-small show-for-small-only">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Infortunio sul Lavoro!</span>
                    </a>
                </div>
        </div>

        <%= partial "partials/rowCallToAction" %>
    </div>
</div>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns callout">

        <div class="row">
            <div class="small-12 columns">
                <h2 class="evidence"><i class="fa fa-question" aria-hidden="true"></i> Le risposte alle tue domande:</h2>
            </div>
        </div>
        <div class="row small-up-1 medium-up-2 large-up-2">
            <div class="column">
                <h4 class="subheader">Quanto costa il vostro servizio?</h4>
                <p>
                    <strong>Nulla</strong> fino al momento del risarcimento. Solo quando sarà ottenuto il risarcimento, verrà trattenuta la percentuale concordata al conferimento dell’incarico.
                </p>
            </div>
            <div class="column">
                <h4 class="subheader">Devo sostenere dei costi per la pratica?</h4>
                <p>
                    <strong>No.</strong> Eventuali spese per la pratica verranno da noi sostenute.
                </p>
            </div>
            <div class="column">
                <h4 class="subheader">Posso fidarmi di voi?</h4>
                <p>
                    I nostri consulenti vantano 20 anni di esperienza nel settore ed innumerevoli casi di successo. A conferma della nostra affidabilità, potrai contare sul fatto che il nostro compenso dipenderà dal buon esito della tua pratica.
                </p>
            </div>
            <!-- <div class="column">
                <h4 class="subheader">Quali sono i tempi per ottenere il risarcimento?</h4>
                <p>
                    <ul>
                        <li>
                            Per i sinistri stradali: 2 anni dall’incidente
                        </li>
                        <li>
                            Per le responsabilità mediche: 10 anni
                        </li>
                        <li>
                            Per infortuni sul lavoro e malattie professionali: da verificare
                        </li>
                        <li>
                            Polizza infortuni: 2 anni
                        </li>
                    </ul>
                </p>
            </div> -->

            <div class="column">
                <h4 class="subheader">Quali sono le tempistiche di avvio della pratica?</h4>
                <p>
                    <ul>
                        <li>
                            Per i sinistri stradali: una settimana
                        </li>
                        <li>
                            Per le responsabilità mediche, gli infortuni sul lavoro e le malattie professionali: un mese, essendo imprescindibile avere un preventivo parere dei nostri medici legali
                        </li>
                    </ul>
                </p>
            </div>
            <!-- <div class="column">
                <h4 class="subheader">Quali sono i tempi di prescrizione del diritto al risarcimento?</h4>
                <p>
                    <ul>
                        <li>
                            Per i sinistri stradali: 2 anni dall’incidente
                        </li>
                        <li>
                            Per le responsabilità mediche: 10 anni dal fatto
                        </li>
                    </ul>
                </p>
            </div> -->
        </div>

    </div>
</div>

<div class="spazio_bianco"></div>

<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>


<div class="spazio_bianco"></div>

<%= partial "partials/chi-siamo" %>
