---
title: >
        Vendita Appartamenti Piazzale Cadorna 10 Milano

description: >
        Da inserire

testata:
    prima_riga: Vendita Appartamenti a Milano
    hasButton: 0
    seconda_riga: >

            Piazzale Cadorna 10<br>

immagineTestata: https://cadorna10.cdn.prismic.io/cadorna10/8d7c8e49235d904246b2b6368bb0a050fbe7021f_testata-originale.jpg

headCode: >

conversionCode: >

---




<div class="row banner show-for-medium">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Solo 8 appartamenti disponibili</span>
            </a>
        </div>
</div>


<div class="row banner-small show-for-small-only">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Solo 8 appartamenti disponibili</span>
            </a>
        </div>
</div>

<%= partial "partials/rowCallToAction" %>

<hr>

<div class="row small-up-1 medium-up-2 large-up-4">
  <div class="column planimetrie">
    <div class="title">Bilocale grande<br><i>Frecciarossa</i><br>74MQ commerciali<br><i>Classe B EPglnr 39.49</i></div>
    <img src="<%= getImgxUrl ('https://prismic-io.s3.amazonaws.com/cadorna10/1ee9d2ed694d4c8efd5bce54fc29be8f45ca401c_appartament5-1.jpg') %>">

  </div>
  <div class="column planimetrie">
    <div class="title">Monolocale zona letto separata<br><i>Orient-Express</i><br>37MQ commerciali<br><i>Classe A2 EPglnr 27.00</i></div>
    <img src="<%= getImgxUrl ('https://prismic-io.s3.amazonaws.com/cadorna10/c237606a1375078fbed16f1a323d2f7a6faa3497_appartamento6.jpg') %>">

  </div>

  <div class="column planimetrie">
    <div class="title">Monolocale classico<br><i>TGV</i><br>42MQ Commerciali<br><i>Classe A1 EPglnr 30.15</i></div>
    <img src="<%= getImgxUrl ('https://prismic-io.s3.amazonaws.com/cadorna10/3ff388622f5375027ea037f318e68ef9384faf94_appartamento7.jpg') %>">

  </div>
  <div class="column planimetrie">
    <div class="title">Bilocale accogliente<br><i>Tokio Monorail</i><br>44MQ commerciali<br><i>Classe B EPglnr 57.95</i></div>
    <img src="<%= getImgxUrl ('https://prismic-io.s3.amazonaws.com/cadorna10/1853b1ba7c2f8c81fdf086438324401286b9da67_appartamento8.jpg') %>">

  </div>
</div>

<%= partial "partials/rowCallToAction" %>

<hr>
<div class="spazio_bianco"></div>
<div class="row">
        <div class="small-12 columns">
            <a href="#form">
                <span class="importante"><strong>Vendita Appartamenti di Nuova Ristrutturazione in classe A e B</strong>, situati in <strong>Piazza Cadorna 10</strong>, nel cuore di Milano, circondati da servizi, trasporti, università e musei!</span>
            </a>
        </div>
</div>
<hr>
<!-- <div class="spazio_bianco"></div>
<div class="row titolo_blocco">
    <div class="small-12 columns">
        <h2>Piazzale Cadorna 10 MILANO</h2>
    </div>
</div> -->
<div class="row google_map">
  <div class="small-12 medium-6 columns responsive-embed widescreen">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.060335844589!2d9.1739005155576!3d45.46858847910099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c14fd48a93cb%3A0x12a0e803134f64f2!2sPiazzale+Luigi+Cadorna%2C+10%2C+20123+Milano!5e0!3m2!1sen!2sit!4v1491568916009" width="1024" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

<!-- <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyANFThOiMUWg62cMEDIqpDlQPfm2xOrkM4&q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe> -->  </div>
  <div class="columns">
     <span class="mezzi">
        <p>
            <i class="fa fa-train"></i> Mezzi pubblici:
        </p>

        <ul>
          <li>
            <i>Metropolitana Linea 1 e 2 (stazioni Cadorna)</i>
          </li>
          <li>
            <i>Stazione Trenord Cadorna (collegamento con Malpensa, Como, Varese, Rho Fiera)</i>
          </li>
          <li>
            <i>Tram 1, 4, 16, 19, 27</i>
          </li>
          <li>
            <i>Autobus 50, 58, 61, 94, 162</i>
          </li>
          <li>
            <i>Autobus notturni NM1, NM2</i>
          </li>
          <li>
            <i>Bike sharing BikeMI</i>
          </li>
          <li>
            <i>Car sharing</i>
          </li>
        </ul>
    </span>

    <span class="servizi">
        <i class="fa fa-child"></i> <i>Scuole ed asili</i>
        <br>
        <i class="fa fa-university" aria-hidden="true"></i> <i>Università Cattolica</i>
        <br>
        <i class="fa fa-shopping-cart"></i> <i>Supermercati</i>
        <br>
        <i class="fa fa-tree" aria-hidden="true"></i> <i>Parco Sempione</i>
        <br>
        <i class="fa fa-binoculars" aria-hidden="true"></i> <i>Castello Sforzesco, Basilica S. Ambrogio, Cenacolo, Musei, Duomo</i>
        <br>
        <i class="fa fa-users" aria-hidden="true"></i> <i>Teatro Litta, Teatro dal Verme, La Triennale di Milano</i>
        <br>
        <i class="fa fa-money" aria-hidden="true"></i> <i>Piazza Affari - Borsa Italiana</i>
        <br>
        <i class="fa fa-hospital-o"></i> <i>Ospedale San Giuseppe</i>
        <br>
    </span>

  </div>
</div>



<%= partial "partials/rowCallToAction" %>

<hr>
<div class="spazio_bianco"></div>

<div class="row titolo_blocco">
    <div class="small-12 columns">
    <h2>Finiture di Pregio</h2>
    </div>
</div>
<div class="row">
        <div class="small-12 medium-5 columns finiture">
            <p class="big">
              <i class="fa fa-clock-o"></i> Appartamenti in <strong>consegna a gennaio 2018</strong>
            </p>
            <p class="big">
              <i class="fa fa-thermometer-quarter" aria-hidden="true"></i> Riscaldamento centralizzato condominiale
            </p>
            <p class="big">
              <i class="fa fa-bars"></i> Pannelli radianti ad alta efficenza
            </p>
            <p class="big">
              <i class="fa fa-snowflake-o" aria-hidden="true"></i> Impianto aria condizionata
            </p>
            <p class="big">
              <i class="fa fa-bell" aria-hidden="true"></i> Predisposizione allarme
            </p>
            <p class="big">
              <i class="fa fa-home" aria-hidden="true"></i> Predisposizione domotica
            </p>
            <p class="big">
              <i class="fa fa-indent" aria-hidden="true"></i> Tapparelle motorizzate
            </p>
            <p class="big">
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Finiture di pregio e personalizzabili
            </p>
            <p class="big">
              <i class="fa fa-bath" aria-hidden="true"></i> Sanitari di alta qualità Duravit
            </p>
            <p class="big">
              <i class="fa fa-tint" aria-hidden="true"></i> Boiler a pompa di calore ad alta efficenza
            </p>
            <p class="big">
              <i class="fa fa-user" aria-hidden="true"></i> Servizio di portineria
            </p>


        </div>
        <div class="small-12 medium-7 columns">
            <img src="<%= getImgxUrl ('https://cadorna10.cdn.prismic.io/cadorna10/41d5547eaf21ae107ca2198dc48b07c6fbf5b45f_finiture-di-pregio.jpg') %>">
        </div>
</div>
<div class="spazio_bianco"></div>
<hr>
<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>

<div class="spazio_bianco"></div>

<div class="row titolo_blocco">
    <div class="small-12 columns">
    <h2>Zero stress? Chiedici di arredare casa!</h2>
    </div>
</div>
<div class="row">
        <div class="small-12 medium-4 columns">
            <p>
                Se hai poco tempo a disposizione o sei a corto d'idee, Impresa Edilpark <strong>offre la possibilità</strong> di consegnarti <strong>casa arredata</strong> pronta per essere abitata.
            </p>
            <p>
                I nostri <strong>architetti e designer</strong> sono a pronti a seguirti passo passo durante tutte le fasi di arredo del tuo immobile. Chiedi un preventivo gratuito!
            </p>


        </div>
        <div class="small-12 medium-8 columns">
            <img src="<%= getImgxUrl ('https://cadorna10.cdn.prismic.io/cadorna10/975aa08362c206d1fbeb7535848cd9392a786e69_zero-stress.jpg') %>">
        </div>

</div>


<div class="spazio_bianco"></div>
<%= partial "partials/rowCallToAction" %>
<hr>
<div class="spazio_bianco"></div>

<div class="row titolo_blocco">
    <div class="small-12 columns">
    <h2>Crea il tuo spazio esclusivo</h2>
    </div>
</div>

<div class="row">
        <div class="small-12 medium-12 columns">
            <% set_prismic_helper_settings('immagini', results) %>

            <div class="fotorama" data-nav="thumbs" data-keyboard="true">

                <% getImagesAsHash('gallery').each do |key, immagine| %>

                    <img src=" <%= getImgxUrl (immagine['url']) %>">

                <% end %>

            </div>


        </div>
</div>


<div class="spazio_bianco"></div>
<%= partial "partials/rowCallToAction" %>
<hr>
<div class="spazio_bianco"></div>
<div class="row titolo_blocco">
    <div class="small-12 columns">
    <h2>Metti l'immobile a reddito!</h2>
    </div>
</div>
<div class="row">
        <div class="small-12 medium-6 columns">
            <p>
                Grazie alla partnership con la società Italianway, ti offriamo la possibilità di mettere l’immobile a reddito ed iniziare a <strong>guadagnare</strong> da subito con la formula <strong>affitto breve-medio periodo</strong>.
                Trasformi la tua seconda casa in un <strong>investimento sicuro e senza pensieri</strong>.
            </p>
            <p>
                Pensiamo a tutto noi: pubblicità online, gestire le richieste, contratti, accoglienza ospiti, ordine, pulizia e manutenzione straordinaria. 
            </p>
            <p>
                <i>Resti sempre il proprietario di casa. Torni ad utilizzarla quando vuoi attraverso un minimo preavviso.</i>
            </p>
            <div class="spazio_bianco"></div>
            <p>
                <b>Esempio di rendimento annuo con investimento di 300.000€</b>
                    <ul>
                        <li>
                            18.000€ rendimento lordo
                        </li>
                        <li>
                            3.000€ spese (utenze, condominio, ecc.)
                        </li>
                        <li>
                            15.000€ rendimento netto <strong>5%</strong> - <i>Tasse ecluse (cedolare secca)</i>
                        </li>
                    </ul>
            </p>


        </div>

        <div class="small-12 medium-6 columns">
            <p>
                <img src=" <%= getImgxUrl ('https://cadorna10.cdn.prismic.io/cadorna10/9727a8c4ffc46f5ddd5fafea10a469c17431a53c_italianway.png') %>">
                <br>
                <img src=" <%= getImgxUrl ('https://cadorna10.cdn.prismic.io/cadorna10/9d26793e7091a634847b375240c2435e41522c0e_reddito.jpeg') %>">
            </p>
        </div>

</div>
<div class="spazio_bianco"></div>
<%= partial "partials/rowCallToAction" %>
<hr>
<div class="row titolo_blocco">
    <div class="small-12 columns">
    <h2>Progetto</h2>
    </div>
</div>
<div class="row">
        <div class="small-12 medium-5 columns">
            <img src=" <%= getImgxUrl ('https://prismic-io.s3.amazonaws.com/cadorna10/248a149a69f8e83674123c0330c74cff3cf08518_pianta-progetto.jpg') %>">
        </div>
        <div class="small-12 medium-7 columns">
            <p>
                La prossimità della Stazione Cadorna ai nostri appartamenti ci ha posti di fronte ad alcuni temi importanti come, ad esempio l’inquinamento acustico proveniente dai binari.
            </p>
            <p>
                Tra i tanti requisiti che i nostri appartamenti possono vantarsi di offrire, come la qualità costruttiva, la <strong>privacy</strong> tra le unità, il controllo della <strong>radiazione</strong> solare, la coibentazione termica delle superfici, <strong>l’efficenza energetica</strong> e la predisposizione dell’<strong>impianto demotico</strong>, uno più di tutti ha destato il nostro interesse fin dal primo tratto sulla carta: il <strong>Comfort Acustico</strong>.
            </p>
            <p>
                Il progetto CADORNA 10 infatti non ha mai potuto né voluto ignorare la presenza della Stazione e dei suoi treni. Abbiamo anzi deciso di omaggiare la Stazione Cadorna dando ai nostri appartamenti nomi dei treni più famosi della storia.
                <br><i>Bernina Express, BlueTrain, Eurostar, Transiberiana, Frecciarossa, Orient Express, TGV e Tokyo monorail.</i>
            </p>

        </div>

</div>
<div class="spazio_bianco"></div>
<hr>
<div class="row titolo_blocco">
    <div class="small-12 columns">
    <h2>Cadorna 10 - The Real living</h2>
    </div>
</div>
<div class="row">
        <div class="small-12 medium-7 columns">
            <p>
                CADORNA10 è il nuovo, ultimo progetto di Certosa Tibullo srl in collaborazione con impresa EDILPARK la famiglia Bulgheroni.
            </p>
            <p>
                8 appartamenti di taglio moderno: bilocali e monolocali. Soluzioni ideali per un investimento, o come prima casa.
            </p>
            <p>
                Gli appartamenti CADORNA10 sono studiati nei minimi dettagli e completi di ogni predisposizione per potervi garantire tutto ciò che vi serve per sentirvi “a casa”.
            </p>
            <p>
                Aria condizionata, domotica, tapparelle elettriche, infissi di classe A, materiali di qualità e finiture di pregio costituiscono uno standard d’eccellenza da anni apprezzato e riconosciuto alle nostre opere.
            </p>
            <p>
                Gli appartamenti CADORNA10, con la loro posizione esclusiva e strategica, trasformeranno un soggiorno milanese in un’esperienza indimenticabile.
            </p>

        </div>
        <div class="small-12 medium-5 columns">
            <img src=" <%= getImgxUrl ('https://prismic-io.s3.amazonaws.com/cadorna10/0072c279c4927420ed5ab818912341d9d7ea817f_screenshot2017-02-16at14.52.23.png') %>">
        </div>

</div>
<div class="spazio_bianco"></div>
<%= partial "partials/rowCallToAction" %>
<div class="spazio_bianco"></div>
