---
title: >
        Risarcimento Integrale

description: >
        Da inserire

testata:
    prima_riga: Risarcimento Integrale
    hasButton: 0
    seconda_riga: >

            Ottieni il Massimo del Risarcimento!

immagineTestata: https://prismic-io.s3.amazonaws.com/risarcimentionline/ee1e137658e65d956c7d6da03d49f54f55aa95fb_head-01.jpg

headCode: >


conversionCode: >


    <!-- BEGIN JIVOSITE CODE -->
    <!-- <script type='text/javascript'>

        (function(){ var widget_id = 'f1vCB5U9S6';var d=document;var w=window;function l(){
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script> -->
    <!-- END JIVOSITE CODE -->

---

<div class="row banner">
        <div class="small-12 medium-4 columns">
                <a class="hollow button large expanded" href="/incidente-stradale"><i class="fa fa-car" aria-hidden="true"></i> Incidente Stradale</a>
                <!-- <span class="sconto">Ottieni il risarcimento per Infortunio sul Lavoro!</span> -->
        </div>
        <div class="small-12 medium-4 columns">
                <a class="hollow button large expanded" href="/infortunio_lavoro"><i class="fa fa-wrench" aria-hidden="true"></i> Infortunio sul Lavoro</a>
                <!-- <span class="sconto">Ottieni il risarcimento per Infortunio sul Lavoro!</span> -->
        </div>
        <div class="small-12 medium-4 columns">
                <a class="hollow button large expanded" href="/malasanita"><i class="fa fa-stethoscope" aria-hidden="true"></i> Malasanità</a>
                <!-- <span class="sconto">Ottieni il risarcimento per Infortunio sul Lavoro!</span> -->
        </div>
</div>


<div class="row banner-small show-for-small-only">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Ottieni il Massimo del Risarcimento!</span>
            </a>
        </div>
</div>

<%= partial "partials/rowCallToAction" %>

<div class="spazio_bianco"></div>

<%= partial "partials/incidente-stradale" %>

<div class="spazio_bianco"></div>

<%= partial "partials/infortunio_lavoro" %>

<div class="spazio_bianco"></div>

<%= partial "partials/malasanita" %>

<div class="spazio_bianco"></div>

<%= partial "partials/domande" %>

<div class="spazio_bianco"></div>

<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>


<div class="spazio_bianco"></div>

<%= partial "partials/chi-siamo" %>
