---
title: >
        Risarcimento Integrale

description: >
        Da inserire

testata:
    prima_riga: Hai subito un infortunio sul lavoro o sviluppato una patologia professionale?
    hasButton: 0
    seconda_riga: >

            Ottieni il massimo del risarcimento!

immagineTestata: https://images.prismic.io/risarcimentionline/e1882c8344f80633e489f9c8c49b80341d29b99b_lavoro.jpg?auto=compress,format

headCode: >


conversionCode: >

---

<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>

<div class="spazio_bianco"></div>

<%= partial "partials/infortunio_lavoro" %>

<div class="spazio_bianco"></div>

<%= partial "partials/chi-siamo" %>

<div class="spazio_bianco"></div>

<%= partial "partials/domande" %>

<div class="spazio_bianco"></div>

<%= partial "partials/rowCallToAction" %>
