---
title: >
        Risarcimento Integrale

description: >
        Da inserire

testata:
    prima_riga: Sei stato vittima di un errore medico?
    hasButton: 0
    seconda_riga: >

            Ottieni il massimo del risarcimento!

immagineTestata: https://images.prismic.io/risarcimentionline/eba5f43fdedcadcaa1f40daeaf85ae9bf673c0b2_sanita-01.jpg?auto=compress,format

headCode: >


conversionCode: >

---

<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>

<div class="spazio_bianco"></div>

<%= partial "partials/malasanita" %>

<div class="spazio_bianco"></div>

<%= partial "partials/chi-siamo" %>

<div class="spazio_bianco"></div>

<%= partial "partials/domande" %>

<div class="spazio_bianco"></div>

<%= partial "partials/rowCallToAction" %>
